.insightStudioSection {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
}

.sliderContainer {
    position: relative;
}

.slider {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    display: flex;
    align-items: stretch;
    scroll-snap-type: x mandatory;
    gap: 0.75rem;
    overflow-x: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 84%;
    scroll-snap-align: center;
    padding: var(--mobile-dashboard-card-padding);
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 300ms;
}

.cardHeaderFlex {
    margin-bottom: 0.55rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
